[2022-04-02 19:23] nvh95 opened #9 "Browser cannot display invalid html tag such as `<textarea />`"
`jest-preview` use `prettyDOM` from `@testing-library/dom` to output the DOM tree. But with some tags, `textarea` for example, `prettyDOM` outputs  `<textarea />`
We use this output to construct an HTML file to preview. However `<textarea />` is an invalid HTML element. It should be `<textarea ></textarea>` then browser can display it correctly

[2022-04-02 19:33] #9 closed, assigned to nobody

[2022-04-04 13:51] nvh95 opened #14 "`jest-previre` dev server should not open a new tab if there is already one"
Currently, whenever we execute `jest-preview` cli, it opens a new tab to `http://localhost:3336`. This is done by using
[open](https://github.com/sindresorhus/open).
https://github.com/nvh95/jest-preview/blob/1684aae20e2e3234e1df480bdc96f4612f007b81/server/previewServer.js#L123

This is good until the user may kill `jest-preview` and reopen it multiple times. In that case, `http://localhost:3336`

[2022-04-04 16:49] nvh95 opened #15 "Warning in project that is not used styled-components"
When running `jest` at project that doesn't use `styled-components`. Following warnings are emitted.
[code]

Reason is maybe `jest-preview` try-catch the `require('styled-components')` wrong way.

https://github.com/nvh95/jest-preview/blob/44f0d648ea6bd0a9067b42fecfecb95217783c5b/src/preview.ts#L11-L24

[2022-04-04 16:55] nvh95 opened #16 "There are no tests/ no test strategy yet"
Now, `jest-preview` hasn't had tests for its source code. So whenever we add a new feature, we just update the demo code at `/demo` then see if our new code works with the demo. This strategy does not scale if the number of features increases in the future. Also, we are not confident that old features are getting broken.

So, we need to find a test strategy to maintain the quality of code and help

[2022-04-04 17:55] #15 closed

[2022-04-04 17:56] nvh95 commented on #14
Included in #17

[2022-04-04 17:56] #14 closed

[2022-04-04 18:43] nvh95 opened #18 "We may not need to copy all assets and css files to cache folder"
# What & Why
Now, whenever `jest-preview`'s custom transforms see an asset or CSS file, it copies to `.cache` folder to reconstruct the complete UI later (`previewServer`'s job). However, the are some drawbacks:
- Consume disk storage since assets and CSS files are duplicated to `.cache` folder.
- The content of assets might get outdated. Currently, we just hash the filename, the content of the fi

[2022-04-05 02:05] nvh95 opened #20 "Support CSS Modules"
# Why
- `jest-preview` currently doesn't support `CSS Modules`, and given the popularity of `CSS Modules`, `jest-preview` should support it out of the box.

# How
- Not sure how to implement this feature, we may need to explore how [CSS Modules](https://github.com/css-modules/css-modules) works and mimic the behaviors. One possible solution is through a `transform`
- How create react app currently

[2022-04-05 02:33] nvh95 opened #21 "Snapshot /Multiple preview/ Preview persistent"
# What/ Why
- Current state: `preview(htmlElement)` can be used to debug reason only due to how it currently works (preview one page at a time calling `preview(htmlElement)`).
- That means users are likely not to save `preview(htmlElement)` in their source code.
- We can resolve this by providing a feature that saves the "snapshot" at any given time in their test code. Then they can visit `preview

[2022-04-05 02:51] nvh95 opened #22 "Showcase the project by giving online demo link"
# Why
- Nothing is more convincing than **a real interactive demo** to show people how easily this package solves their paint point when testing frontend code.
- Provide a demo project at https://stackblitz.com/ so they can try the package without using `npm`/ `yarn` or `pnpm` themselves.

# How
- Create a project on [stackblitz](https://stackblitz.com/). It supports running both `jest` and `jest-

[2022-04-06 01:43] nvh95 opened #26 "Missing CONTRIBUTING.md"
# Why
- We love open-source software and the power of community work. We love to have you join us to develop this library, to ease developers' experience debugging with Jest.
- We haven't had the `CONTRIBUTING.md` file to guide people who are interested in `jest-preview` how to contribute to this package

# How
- Add `CONTRIBUTING.md` to the root of this project

[2022-04-06 01:52] nvh95 opened #27 "Change API from `preview(htmlElement)` to `preview.debug(htmlElement)`"
# Why
- I personally think `preview.debug(htmlElement)` is more intuitive than `preview(htmlElement)`
- It's similar to `screen.debug` (a great API so far)
- Now we export default a named function `preview`. It's not a good idea if we want to add more functions to this library in the future. Rollup/ Vite even warns us about this one.
[code]

# How
- Change something like this in [src/index.ts](htt

[2022-04-06 02:21] nvh95 opened #28 "Testing `jest-preview` in multiple platforms"
# What & Why
- `jest-preview` is developed and tested on macOS. So we are not sure if it works on other platforms:
  - OS: Windows, linux...
  - Monorepo: lerna, turborepo...
# How
- We should find a way to make sure this library works on other platforms:
  - Seeking helps from contributors to test on other platforms
  - Setup CI/CD to run tests automatically

[2022-04-06 02:23] nvh95 commented on #28
@all-contributors please add @ntbinh-Harvey for test

[2022-04-06 15:50] ntt261298 opened #30 "Support SCSS"
# Why
- `jest-preview` currently doesn't support `SCSS`, and given the popularity of `SCSS`, `jest-preview` should support it out of the box.

# How
- One possible solution is that we transform `SCSS` file to `CSS` file using [dart-sass API](https://github.com/sass/dart-sass/blob/main/README.md#from-npm), those `CSS` files will be saved under `.cache` folder and read by preview server:
  - Support

[2022-04-06 16:12] nvh95 commented on #30
I think the idea of caching we should take into account both filename and file source. Something like hashing both of them to produce a cache key.
Example: https://github.com/swc-project/jest/blob/17cf883b46c050a485975d8ce96a05277cf6032f/index.ts#L39

[2022-04-06 16:29] ntt261298 commented on #30
Thanks, I will try to apply this idea.

[2022-04-06 16:42] nvh95 opened #31 "Support to assets from **public** folder"
# What

- If users use images from **public** folder, `jest-preview` currently cannot display
[code]
![Image does not display](https://user-images.githubusercontent.com/8603085/162025846-80190706-3b04-448e-a03e-17558273f0d0.png)

- Same problem for other types of assets that serve directly in the **public** folder

# How

- Add option to configure public folder path
[code]
- Code to be changed: ht

[2022-04-06 17:04] nvh95 opened #32 "Add `processFileCRA` transform"
# Why
- Currently, configuring **file transform** for CRA does not have a good DX. Users have to copy and paste a chunk of not-understandable code.
- CRA is extremely popular.
https://github.com/nvh95/jest-preview/blob/ad840b44dab736d41dbf4f126c48085a20e99d1f/examples/create-react-app/README.md?plain=1#L9-L53
- We should ease this path by providing them with a pre-configured function, that works o

[2022-04-06 17:08] nvh95 opened #33 "Add nextjs example"
# Why
- [Nextjs](https://nextjs.org/) is extremely popular

[2022-04-06 17:32] nvh95 opened #34 "Add option to `jest-preview` cli to clear cache"
# What
- Add `jest-preview clear-cache`

[2022-04-06 17:56] #18 closed

[2022-04-06 17:56] #32 closed

[2022-04-06 18:04] nvh95 commented on #20
- Can use https://github.com/madyankin/postcss-modules
- See how vite uses `postcss-modules`

https://github.com/vitejs/vite/blob/c29613013ca1c6d9c77b97e2253ed1f07e40a544/packages/vite/src/node/plugins/css.ts#L741-L767

[2022-04-06 18:20] nvh95 commented on #27
if users use "preview.debug()", default param is "document.body"

[2022-04-07 00:14] nvh95 opened #35 "Need a docs site (with full text search ability)"
# Why
- `jest-preview` is getting complex, it should have its own documentation site.
- Docs site should give updates on each release and migrations guide if any.

# How
- Leverage open source library for docs generating. Some options:
  - [Docusaurus](https://docusaurus.io/): extremely popular
  - [Nextra](https://nextra.vercel.app/): Use nextjs, provide full text search
  - ...
 - Some requireme

[2022-04-07 17:29] #27 closed

[2022-04-07 18:20] #22 closed

[2022-04-09 01:33] nvh95 opened #39 "Add example for `vue`"
# Why
- `jest-preview` initially was born for combo `jest` + `react-testing-library`. However `jest-preview` is framework-agnostic. So adding an example to use it with `vue` can prove that it's truly framework-agnostic. We might catch bugs and have more initiatives when support other frameworks than React
# How
- Add folder `vue-testing-library`
- Refer to common practices when come to test Vue: h

[2022-04-09 01:59] nvh95 opened #41 "Increase DX by providing pre-configured transformers"
# What & Why
- Currently, we are providing users `process` functions such as `processFile`, `processFileCRA`, `processCss`, then, they can implement the code transform by themselves. We gave users the flexibility to [customize their own transformer](https://jestjs.io/docs/code-transformation#writing-custom-transformers).
- However, most of the time, users don't want to deal with the complexity of

[2022-04-12 15:44] nvh95 opened #46 "Add feedback link/ modal"
# What, Why
- `jest-preview` was born with the purpose of improving Developer Experience, however, the installation and configuration have not been a great DX (yet): configuring file transformer, CSS transformer, external CSS. We aim for a `just work` solution, but for now, we are not able to do that so.
- We want to receive feedback from people who did integrate/ tried to integrate/ hesitate to i

[2022-04-14 05:30] #20 closed

[2022-04-14 15:38] nvh95 commented on #35
Consider to use [strapi](https://strapi.io/).

[2022-04-15 08:03] nvh95 opened #48 "Jest cache code transformation by default, so new updates might not take effect until user clear cache"
# What
- Jest caches code transformation by default, so new updates might not take effect until the user clear the cache manually. So after users install `jest-preview`, configure `jest.config.js`, or upgrade to a new version, it won't take effect.
- This might result in a very bad DX and users may uninstall `jest-preview` immediately.
# How
- Update `README.md` about this caveat.
- Find a way to

[2022-04-15 23:24] #41 closed

[2022-04-16 14:13] nvh95 opened #49 "Support serving files from public folder"
# What & Why
- `jest-preview` cannot serve files in the public folder yet. The reason is we are currently serving files from the root of the project.

<img width="907" alt="public folder is not supported" src="https://user-images.githubusercontent.com/8603085/163678213-f0522a82-a6c1-460e-96b1-b10fdf545a3a.png">

# How
- Update `jestPreviewConfigure` function to accept `publicFolder` as a parameter

[2022-04-16 15:37] nvh95 opened #51 "Implement `getCacheKey`"
### What & Why
- Now, `jest-preview` hasn't implemented [getCacheKey](https://jestjs.io/docs/code-transformation) for `css`, `file` and `fileCRA` transformer.
https://github.com/nvh95/jest-preview/blob/6ce35ca37d6c9de5fc72b05ce433cb83b10b0538/src/preconfigTransform/css.ts#L1-L8
- The reason is that we are not very deeply understand the benefit of `getCacheKey`. The [docs]((https://jestjs.io/docs/c

[2022-04-16 16:14] nvh95 commented on #35
- [Nextra](https://nextra.vercel.app/) for docs
- [strapi](https://strapi.io/) for blog/ product updates
- Deploy on [Vercel](https://vercel.com/)

[2022-04-16 17:09] nvh95 opened #53 "Should transpile optional chaining when build"
# What
- Bundlephobia couldn't analysis `jest-preview` version `0.1.3-alpha.0` (https://bundlephobia.com/package/jest-preview@0.1.3-alpha.0) since it has optional chanining. (This issue does not happen when we use Vite Library Mode)
<img width="914" alt="Cannot analysis with bundlephobia" src="https://user-images.githubusercontent.com/8603085/163684569-eeff1ad3-a691-44e2-82a6-4db77d0d39c5.png">

-

[2022-04-16 18:34] nvh95 commented on #51
As I observe and guess, if we do not implement `getCacheKey`, Jest automatically cache using `return value` in the transformation.
For e.g: If our css transform a css file to
[code]
This whole file content will be used as the key for caching.
So what is the point of implementing `getCacheKey`? To get a shorter key? Do we need to do that?

[2022-04-16 18:36] nvh95 commented on #51
How to see the cache key by yourself
1. Run `jest --clearCache` to see where the cache located. For e.g, on mac: `/private/var/folders/hg/cg39z3hd4gv3grbrd08524gh0000gp/T/jest_dy`
2. `cd` to that project and explore

<img width="1052" alt="Jest Cache" src="https://user-images.githubusercontent.com/8603085/163687328-2fefe0ed-1ce7-4884-94ca-50f7fde40447.png">

[2022-04-18 01:33] #31 closed

[2022-04-18 01:33] #48 closed

[2022-04-18 01:33] #49 closed

[2022-04-18 01:33] #53 closed

[2022-04-21 11:52] #35 closed

[2022-04-21 15:05] thanhsonng opened #62 "Next.js Image component doesn't work"
Related PR: https://github.com/nvh95/jest-preview/pull/60

Jest Preview successfully works with Next.js apps. However, Next's `Image` component doesn't work. This issue needs further investigation. One of the potential causes is that page's JavaScript is not handled correctly by the plugin.

[2022-04-22 02:06] #33 closed

[2022-04-23 16:02] nvh95 opened #70 "Automatically snapshot on Jest error"
**Is your feature request related to a problem? Please describe.**
When using `jest-preview`, whenever I want to see how my app would look like, I have to manually trigger `debug()` to the position I want. However, the common use case is that **I ONLY WANT TO SEE THE UI WHEN THE TEST FAILS**. I don't want to manually move the block `debug()` around manually to the line before the test throws an er

[2022-04-23 17:18] nvh95 opened #71 "Support CSS Modules through `jestPreviewConfigure`, `externalCss` option"
**Is your feature request related to a problem? Please describe.**
#40 supports CSS Modules through Code transformation. However, if users have some CSS Modules files and want to configure them through `jestPreviewConfigure`, it is not possible.

**Describe the solution you'd like**
Support CSS Modules though `jestPreviewConfigure`, `externalCss` option

**Describe how should jest-preview implemen

[2022-04-23 17:22] nvh95 commented on #71
Sass support already did this via #52
https://github.com/nvh95/jest-preview/blob/baab8a5a15b1511c866511d75c296bf06aac1424/src/configure.ts#L32-L52

[2022-04-23 17:35] nvh95 opened #72 "Support loadPath and import ~ for Sass"
**Is your feature request related to a problem? Please describe.**
In #52, we can support Sass. However, some features like [loadPath](https://sass-lang.com/documentation/cli/dart-sass#load-path) or `import ~` are not supported yet.

**Describe the solution you'd like**
Support Sass comprehensively. For now, we can add `loadPath` and `import ~`

**Describe how should jest-preview implements this f

[2022-04-23 18:53] nvh95 opened #74 "Support Sass CSS Modules (`.module.scss`)"
**Is your feature request related to a problem? Please describe.**
There is something called Sass CSS Modules (`.module.scss`). We support Sass and CSS Modules individually, but not the combine one.

**Describe the solution you'd like**
Support `.module.scss`

**Describe how should jest-preview implements this feature**
Not sure

[2022-04-23 18:58] nvh95 opened #75 "Remove the documentation from README.md and move to jest-preview.com"
# What
- We have https://www.jest-preview.com as official documentation for Jest Preview. Now, we're having many parts overlapped between `README.md` and https://www.jest-preview.com. We need to clean up `README.md` to avoid duplication with the docs, but still need enough information to encourage and attract users to use Jest Preview

# How
- Remove some parts such as installation and link to off

[2022-04-24 06:24] nvh95 opened #78 "Simplify styled-components support"
**Is your feature request related to a problem? Please describe.**
Now, to support `styled-components`, we save to disk content of generated CSS. However, the generated CSS is in the `document.head` already. So we should use content from `document.head`, instead of re-generating CSS

**Describe the solution you'd like**
- Remove the code to generate and save `styled-components`'s CSS to disk.
- Us

[2022-04-24 06:27] nvh95 opened #80 "Add example for remix"
# What
- Add an example for [remix](https://remix.run/)

[2022-04-24 06:47] nvh95 opened #82 "Inject css to `document.head`, not `document.body`"
**Which feature you want to improve?**
Inject CSS to HTML: CSS Modules, Sass

**What and why you want to improve that feature**
Currently, we inject CSS of Sass and CSS Modules to `document.body`. The reason is that I didn't know that we can inject CSS to `document.head` in `jsdom` environment. Now I know that we can inject `document.head.outerHTML`, we should inject CSS directly to `<head>` eleme

[2022-04-24 06:58] nvh95 opened #83 "Add preset jest configuration"
**Is your feature request related to a problem? Please describe.**
As a frontend engineer is interested in Jest Preview, after I installing Jest Preview, I have to configure many things (fileTransform, cssTransform, remove unwanted config regarding CSS modules..) to make Jest Preview works. Sometimes, Jest Preview documentation on configuring updates, I couldn't aware to make the corresponding upd

[2022-04-24 07:10] nvh95 opened #84 "Make a fully functional app from snapshot"
**Is your feature request related to a problem? Please describe.**
This idea is motivated by #62. When jest preview couldn't show an [Image component](https://nextjs.org/docs/basic-features/image-optimization) from NextJS in Jest Preview. The reason is that Image Component requires javascript to be loaded.
So the question is. Can we make Jest Preview shows a fully functional app on browser?

**Des

[2022-04-24 07:15] nvh95 opened #85 "Emit type using rollup instead of using tsc directly"
**Is your feature request related to a problem? Please describe.**
Currently, jest preview building process use `tsc` to emit types directly. It might get complicated if we need to generate types for multiple entries.

**Describe the solution you'd like**
- Generate types using `rollup`
- Need to be fast in watch mode, so `build:watch` might not need to generate types (if generating types in watch

[2022-04-24 07:47] nvh95 commented on #70
Can we do this?
[code]

[2022-04-24 07:48] nvh95 commented on #70
or somehow listen to error
[code]

[2022-04-24 15:52] nvh95 commented on #70
Current approach.
[code]

The idea is to run `preview.debug()` whenever test fails, we modify the original `it` and `test`, `fit`. However, I do not like this approach, but I couldn't find another approach that works (yet). My ideal solution is I can pass a callback function when an error is throw, some thing like this:
[code]

I also have some struggle with typing the new wrapper of `it/ test`. S

[2022-04-25 16:50] alexis-regnaud commented on #78
Does that mean the `styled-component`'s style will be handled out of the box ?

Currently when I run `jest-preview` I am just seeing the HTM without any style displayed

[2022-04-25 17:07] nvh95 commented on #78
@alexis-regnaud yes. `styled-components` should work out of the box with Jest Preview. This issue is just an improvement to an existing implementation.

Can you provide a reproducible repository, I would love to help you debug. Also, can you create another issue?

[2022-04-25 18:59] nvh95 opened #90 "Provide first-class support for CRA"
**Describe the bug**
There are several issues with CRA, all of them related to that we couldn't modify jest's config freely (see how CRA overrides config here https://github.com/facebook/create-react-app/blob/63bba07d584a769cfaf7699e0aab92ed99c3c57e/packages/react-scripts/scripts/utils/createJestConfig.js#L94-L107 ):
1. (CSS Modules) We couldn't [support CSS Modules](https://www.jest-preview.com/d

[2022-04-25 19:00] nvh95 commented on #90
@nvh95 To update docs to mention case when Sass might not work

[2022-04-27 02:59] thanhsonng commented on #80
I will open a PR for this

[2022-04-27 03:00] #75 closed

[2022-04-27 03:10] nvh95 commented on #80
@thanhsonng Thanks. A good issue to learn more about remix.

[2022-04-29 06:53] tinhvqbk opened #94 "Can't install with the project inside the folder have a non breaking space in name"
**Describe the bug**
Can't install with the project inside the folder have a non breaking space in name
**To Reproduce**
- Give the project on the folder like: ~/Example Folder/my-project
- Install `jest-preview` via command line `npm install --save jest-preview`

**Expected behavior**
Can install without error
**Screenshots**
![image](https://user-images.githubusercontent.com/26925018/165896528-8

[2022-04-29 07:02] nvh95 commented on #94
Thank @tinhvqbk. Confirmed it's a bug. I will fix this in the next version

[2022-05-01 09:17] nvh95 opened #96 "Support more OSX Chromium-based browser"
**Which feature you want to improve?**
Currently, Preview Server tries to reuse an opening tab whenever possible. However, it only works with Google Chrome. We can support more OSX Chromium-based browsers.

**What and why you want to improve that feature**
I'm recently using [Google Chrome Dev](https://www.google.com/intl/en/chrome/dev/) and it does not work with Google Chrome Dev. We should suppo

[2022-05-01 17:34] #96 closed

[2022-05-02 12:26] #94 closed

[2022-05-02 12:33] nvh95 commented on #94
@tinhvqbk This bug is fixed in https://www.npmjs.com/package/jest-preview/v/0.1.7

[2022-05-02 12:33] nvh95 commented on #94
@all-contributors please add @tinhvqbk for bug

[2022-05-03 16:16] #70 closed

[2022-05-03 17:18] nvh95 opened #100 "Support Tailwind CSS"
**Is your feature request related to a problem? Please describe.**
Tailwind CSS is an excellent library to write utility CSS

**Describe the solution you'd like**
Jest Preview should support Tailwind CSS out of the box. We should also provide an example as well.

**Describe how should jest-preview implements this feature**
Not sure. As I know, Tailwind CSS is usually configured through a PostCSS p

[2022-05-04 16:01] nvh95 commented on #78
@alexis-regnaud This issue is going to be closed. Feel free to open a new issue if you still have an issue with `styled-components`.

If you are seeing HTML without any style, consider taking a look at [I can see HTML on my browser, but without any CSS
](https://www.jest-preview.com/docs/others/faq#i-can-see-html-on-my-browser-but-without-any-css) in FAQ.

[2022-05-04 16:11] nvh95 commented on #16
Idea: e2e strategy.
Just have an example that has many CSS strategies (App.test.tsx), then assert if they are rendering correctly.
- snapshot
- explicit asserting

[2022-05-04 16:54] nvh95 opened #103 "Add eslint for development"
**Is your feature request related to a problem? Please describe.**
This comment https://github.com/nvh95/jest-preview/pull/79/files#r865053054 can be avoided by having `eslint` installed.

**Describe the solution you'd like**
Integrate eslint for development env

**Describe how should jest-preview implements this feature**
Install eslint and related plugins (prettier, node, typescript...)

[2022-05-06 11:30] nvh95 opened #104 "Support Emotion CSS"
**Is your feature request related to a problem? Please describe.**
Surprisingly, [Emotion](https://www.npmjs.com/package/@emotion/css) is more popular than [styled-components](https://www.npmjs.com/package/styled-components). Jest Preview should support it out of the box

**Describe the solution you'd like**
Support [Emotion](https://emotion.sh/docs/introduction)

**Describe how should jest-previe

[2022-05-08 14:46] thanhsonng opened #107 "Support Jest 28"
**Which feature you want to improve?**
The [migration guide](https://jestjs.io/docs/upgrading-to-jest28) includes some breaking changes, one of which is the [return value of custom tranformers](https://jestjs.io/docs/upgrading-to-jest28#transformer). They now need to return an object `{ code: '...' }` instead of a string.

**What and why you want to improve that feature**
Jest Preview is compatibl

[2022-05-08 15:23] nvh95 commented on #107
Some questions for discussion:
- Does Jest < 28 work with
[code]
?
- Can we somehow have some tests to make sure this change does not break Jest with lower versions? (automatically, not manually test multiple versions)
- Looks like Jest 28 ships quite a number of changes. Is there anything else we need to look into?
@thanhsonng Would you like to open a PR for this?

[2022-05-08 15:47] thanhsonng commented on #107
@nvh95 I can't answer any of your questions now, but I will look further let you know as soon as I can. I only discovered this issue from my usage of Jest 28 in the Remix example.

[2022-05-08 16:06] nvh95 commented on #107
@thanhsonng Sure. I will also take a look for those questions as well. Thanks for raising issues with Jest 28.

[2022-05-10 15:33] nvh95 commented on #104
Resolve in #108

[2022-05-10 15:33] #104 closed

[2022-05-18 15:34] nvh95 opened #109 "Notify that a new version is available"
**Is your feature request related to a problem? Please describe.**
Jest Preview is currently at version < 1.0.0. That means versions with bug fixes and features come pretty frequently. However, once users install a package, they rarely update to a newer version. So we need a way to encourage them to update to the latest version.

**Describe the solution you'd like**
Display a banner to users when

[2022-05-19 09:24] nvh95 commented on #100
- https://tailwindcss.com/docs/installation
How tailwindcss work? Mainly 2 ways:
- Build an output CSS file (using [Tailwind CLI](https://tailwindcss.com/docs/installation)) => Can use `jestPreviewConfigure` `externalCss`
- import css file [Using PostCSS](https://tailwindcss.com/docs/installation/using-postcss) => Not sure how to do. But I know that we have to handle
[code]
I don't know what kind

[2022-05-21 17:34] thanhsonng commented on #107
About the question of whether Jest < 28 works with `{ code }` as the return value's shape of `process`.

The answer is yes. I looked into [Jest version `24.0.0`](https://github.com/facebook/jest/blob/665a93eec70c4f2d7809d1848fbc8ca60cfd8361/types/Transform.js#L50) (just to be sure. [CRA 4 uses Jest `26.6.0`](https://github.com/facebook/create-react-app/blob/v4.0.0/package.json#L33)), and it does s

[2022-05-21 17:41] nvh95 commented on #107
@thanhsonng Would you want to open a PR?

[2022-05-22 18:07] nvh95 opened #111 "Add ability to always preview a test case `jpit`"
**Is your feature request related to a problem? Please describe.**
I can preview by using `debug()` or opt-in to Automatic Mode. However, when writing a new test, I want Jest Preview to always run, so I can see the UI afterward

**Describe the solution you'd like**
Provide a global `jpit` (similar to `it`, `fit`, `xit`,`test`): always trigger debug() finish the test case (or reach error)

**Descri

[2022-05-23 06:44] #90 closed

[2022-05-24 19:12] #107 closed

[2022-05-25 09:03] nunocasteleira opened #117 "File paths don't match between Windows and Unix in Snapshots"
**Describe the bug**
I have a snapshot that replaces a component with its full path. I created a snapshot on Windows. When running the tests on Jenkins, the test fails, like this:
[code]

Before implementing jest-preview, this test only had the name of the file:
[code]

**Environment (please complete the following information)**

- OS: macOS 12.2.1, Windows 11, Ubuntu 20
- Jest version: 27.5.1

[2022-05-25 09:09] nvh95 commented on #117
Thank you @nunocasteleira, can you provide test code, or minimum producible repo, it would help a lot to quickly identify and fix this issue. Thanks.

[2022-05-25 09:10] nunocasteleira commented on #117
Will try to create a MVP with the bug as soon as possible.

[2022-05-25 09:12] nvh95 commented on #117
@nunocasteleira

Thank you very much.

For your information that the name of SVG change from just the `filename` to a `full-path` is expected. By this way, Jest Preview can preview it in the browser.

[2022-05-25 13:27] nvh95 commented on #117
@nunocasteleira Yes. That should be a approach to fix. So I'm asking you to provide a minimum reproducible repo so I can investigate and verify that I actually fix the bug. 😬😬
Fun fact: I'm borrowing a windows computer to work on this issue 🪟 😬😬

[2022-05-25 13:28] nvh95 commented on #117
If you are interested. I'm happy to have you contribute to the project. The fix should lie somewhere in `transform.ts` file

[2022-05-25 13:33] nunocasteleira commented on #117
Sure thing, I will try to provide a reproduction asap and I will also look at the `transform.ts` file :)
I'm still in between meetings.

[2022-05-25 17:18] nvh95 commented on #117
@nunocasteleira We fix this issue in version **0.2.3**. Please update your `jest-preview` by
`npm install jest-preview@latest` and confirm if this issue has been fixed. Then this issue can be closed. Thanks.

[2022-05-26 11:35] nvh95 commented on #85
Research to use `tsup`
Reference: https://github.com/mswjs/msw/pull/1247

[2022-05-26 16:54] nvh95 commented on #117
@nunocasteleira Please let us know if you still experience this bug. Thanks.

[2022-05-27 08:52] sundaycrafts commented on #100
@nvh95 Hi, here is my experimental implementation.

https://github.com/sundaycrafts/jest-preview/commit/e77ded7dbd56dfa9b1ef0f4ebf27a69c36a922c1

Currently, this only support [documented installation process](https://tailwindcss.com/docs/installation/using-postcss) for Tailwind CSS. It means it doesn't look up `postcss.config.js`. But it doesn’t be needed for Tailwind CSS itself.

I think this imp

[2022-05-27 08:59] nvh95 commented on #100
@sundaycrafts Thank you very much for your interest to Jest Preview and your efforts to make it work with TailwindCSS. I will take a look at your experiment as soon as I have free time.

In the mean time, can you open a PR, event when it's not done yet. Please open as a draft PR, so I can easier review your code, and you can officially claim this issue, avoid others also plan to work on this.

Tha

[2022-05-27 18:33] nvh95 opened #124 "Depreacate `externalCss` option in `jestPreviewConfigure`"
**Which feature you want to improve?**
- Depreacate `externalCss` option in `jestPreviewConfigure`
- Import directly instead

**What and why you want to improve that feature**
- Since we can import `externalCss` directly in the `setupTest.ts` (`setupFilesAfterEnv`)
[code]

- We don't need to process `.css` file in the `jestPreviewConfigure` anymore. Code to handle `externalCss` in `jestPreviewConf

[2022-05-27 18:33] duong-le commented on #109
Hi @nvh95, I would love to take on this task. As I can see, Docusaurus uses a 3rd party package called [update-notifier](https://www.npmjs.com/package/update-notifier) for handling new version notifications. This package is also previously used by the famous npm CLI, but [they drop them in the v7 release](https://github.com/npm/cli/pull/1632) and choose to go with their in-house solution. I can se

[2022-05-27 18:50] nvh95 commented on #109
Hello @duong-le. It's great to see you again and we have a chance to work with each others together.

I love to have you work on this feature. It's super thoughtful of you to design a feature with user-centric mindset and potential hidden issues in the future.

I can review your comment one more time tomorrow to have a better understanding on what you are concerning and give you my thoughts. In th

[2022-05-27 19:35] srosato opened #126 "Jest preview not working with Nx monorepo"
**Describe the bug**
Running a jest preview on a nx monorepo does not benefit from automatic refresh on test failures. The furthest I was able to make it work is by refreshing manually the page, but I do not get any automatic refresh. I attempted to create a reproduction repository by adding an example project.

**To Reproduce**
- Checkout the branch I created within the PR: https://github.com/nvh

[2022-05-28 01:10] nvh95 commented on #126
Hi @srosato. Thank you so much for your interest in Jest Preview and your efforts to report a bug, prepare a reproduction, and even a Pull Request!

We know that Jest Preview might not work well with monorepo architecture at the moment. The reason is just that Jest Preview is still very young. We plan to support it soon. But as you provided us an example in #125. I believe the support will come ea

[2022-05-28 01:14] nvh95 commented on #126
cc: @ntt261298

[2022-05-28 01:25] nvh95 commented on #124
**Draft Roadmap:**
- 0.2.4: add a nice console.warning (yellow) to users if they configure `externalCss`, show link to the migration guide
- 0.3.0: Remove the code to process `externalCss` in `jestPreviewConfigure`, add a error console.error (red), , show link to the migration guide
- 0.4.0: Throw an error if users configure `externalCss`, show link to the migration guide.

[2022-05-28 20:39] nvh95 commented on #71
We can close this once #24 is closed

[2022-05-29 10:56] nvh95 commented on #84
**Idea:**
Take a Vite project as an example: Can we start/ build the app to have some bundled `.js` files? Then inject it directly into the HTML snapshot?

This way, users can still see the HTML immediately after `debug()` triggered. They can integrate with the app since we add
[code]

We need to modify Preview Server in `cli/server/previewServer.js` to have Vite serve the `index.html` file in `.c

[2022-05-29 11:02] nvh95 commented on #84
Vite supports creating a server of our own. I see the light at the end of the road!!
https://vitejs.dev/guide/api-javascript.html#createserver

[2022-05-29 15:02] #72 closed

[2022-05-30 02:41] ntt261298 commented on #126
Hi [@srosato](https://github.com/srosato)
1. I run tests in your NX monorepo and the file watching feature (using chokidar) seems to work fine in my machine. (I run tests, change the app content, and run tests again => The preview is still automatically updated). I will give you the update if I encounter any issue with the auto-update feature.
2. Have you had time to take a look at this (the autom

[2022-05-30 05:05] nvh95 opened #131 "Experiment `pnpm`"
**Is your feature request related to a problem? Please describe.**
Inspired by this tweet: https://twitter.com/leeerob/status/1530995387925929990

**Describe the solution you'd like**
Integrate `pnpm` for speed gain

[2022-06-02 16:51] nvh95 commented on #117
@nunocasteleira
Can you try to clear jest cache then update the snapshot if needed.
[code]
I think it's better if you can provide us with a minimum reproduction. It would super helpful.

[2022-06-03 04:52] srosato commented on #126
For sure thanks for the quick replies!! I am quite busy at the moment so I haven't had much chance to come back to it, but I want to, because right now I am daily in this monorepo of mine writing tests. Give me a few days I will come back to it, it is quite obscure to me still.

Your library is a godsend guys though - writing tests using React Testing Library without any visual cues is madness.

I

[2022-06-03 04:57] nvh95 commented on #126
@srosato Thanks for your kind words. Just do us a favor by updating your PR #125 to reproduce your issue.
Please take your time. We appreciate your help in reporting `jest-preview` issues 🤝🐛.

[2022-06-04 04:03] nvh95 opened #134 "Setup GitHub Actions for linting"
**Which feature you want to improve?**
GitHub Actions CI

**What and why you want to improve that feature**
GitHub Actions CI should run linting. So contributors know they need to enforce the pretiier

**Potential bugs/ unexpected behaviors**
None for now

**How to implement the changes**
- Update code inside `.github/workflows`.
- If we can update in an existing `.yml` file, we do not need to run

[2022-06-04 04:04] nvh95 commented on #134
Motivation for this issue: When reviewing code for #129

[2022-06-04 09:41] nvh95 commented on #84
Note that in https://github.com/nvh95/jest-preview/pull/122, we are trying to unify CSS Modules's class names to be the same in Windows and Linux in Jest Preview. However. It is not the default behavior when we process the CSS modules in `development` mode. We need to revisit #122 when implement #84

[2022-06-04 09:57] nvh95 commented on #134
https://stackoverflow.com/questions/65242830/in-a-github-actions-workflow-is-there-a-way-to-have-multiple-jobs-reuse-the-sam

[2022-06-04 18:40] ryota-murakami commented on #124
I like this change, just use Jest feature is straightforward rather than wrapper interface!

[2022-06-06 14:47] #109 closed

[2022-06-06 16:41] nvh95 opened #137 "CLI config-vite"
TBU
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe how should jest-preview implements this feature**
Do you have any idea how to implement this feature? Please describe the idea

[2022-06-09 10:05] benoitgrasset-alma opened #138 "Test preview from example broken (Issue on Linux)"
I tried to run the test from the example here: https://stackblitz.com/edit/jest-preview?file=src%2F__tests__%2FApp.test.tsx

I always get this error:

[code]

even on refresh and when i launch: `npm run test`

[2022-06-09 17:41] nvh95 commented on #138
Hi @benoitgrasset-alma,

Thanks for reaching us. Because of some technical limitations on stackblitz.com, Jest Preview couldn't "auto-refresh" the embedded browsers (WebContainer). Please hit the reload button to reload it manually. Please refer to my screen recording
https://user-images.githubusercontent.com/8603085/172909719-e06a2865-196b-4b30-9a98-9ac20d57aff9.mov
In short, you need to
1. `npm

[2022-06-10 08:18] benoitgrasset-alma commented on #138
Thanks @nvh95 for your quick and clear answer :) I can run the demo too, like you showed me on your screen record, but I can't see the UI being updated in live with userEvent, like in the demo: [here](https://user-images.githubusercontent.com/8603085/162563155-7e18c9ef-4fe3-45f2-9065-7fcea8ddb18e.gif)

[2022-06-10 08:21] nvh95 commented on #138
@benoitgrasset-alma Yeah. That's something with stackblitz.com that I couldn't do anything. If you run it on your local machine, it will work fine.
Can you try on your local and confirm the UI is being updated in live?

[2022-06-10 08:31] nvh95 commented on #138
I also noted in the [README](https://stackblitz.com/edit/jest-preview?file=README.md) about the limitation:

   (Since Stackblitz can't reload the embeded browser on file changes. On local machine, browser reloads instantly.)

[2022-06-10 09:36] benoitgrasset-alma commented on #138
I tried on my local machine, with `v16.13.2` node version, chrome latest version, ubuntu 22.04, and i still don't have the HMR updates, only the satic UI running on port 3336
I tried this example: https://github.com/nvh95/jest-preview/tree/main/examples/vite-react

[2022-06-10 09:42] nvh95 commented on #138
What do you mean by `HMR`? Currently, Jest Preview hasn't had HMR feature yet. Whenever `debug()` is executed, the tab in `http://localhost:3336` reloads automatically to show an updated snapshot. And currently, it's a static UI only (we want to make it a fully functional app but we are not there yet #84).

Can you help to record a short video please? It should really help.

Thanks.

[2022-06-10 14:29] benoitgrasset-alma commented on #138
here is my screen recorded:

https://user-images.githubusercontent.com/104012464/173087687-65765dd9-ede8-4bd1-9dec-9799a0fbf9a7.mp4

[2022-06-10 14:43] nvh95 commented on #138
@benoitgrasset-alma Thank you for your recording. It's weird. Let me try to reproduce it on Ubuntu.
In the mean time, the "auto refresh" is implemented by a **web socket** server. Whenever `http://localhost:3336` receive an event ``{type: "reload"}``, it will reload. Can you help to investigate by checking if there is an event `{type: "reload"}` in `WS` subtab in `Network` tab, from Google Devtool

[2022-06-10 14:52] benoitgrasset-alma commented on #138
I have no event:
![Capture d’écran du 2022-06-10 16-52-14](https://user-images.githubusercontent.com/104012464/173092306-4e29fb43-a851-4c55-b5ef-f5eea52720f6.png)

[2022-06-10 14:58] nvh95 commented on #138
@benoitgrasset-alma Thank you very much. Let me find an Ubuntu to reproduce to see if I see the same issue. If not, we might ask you for some additional information.

Thank you again.

[2022-06-10 15:00] benoitgrasset-alma commented on #138
You're welcome, do not hesitate,
I use google chrome `Version 102.0.5005.61 (Build officiel) (64 bits)`

[2022-06-11 03:17] stephenh opened #139 "Ability to provide app css from a component"
I just came across jest-preview and it's amazing! We use emotion and it's really sweet how great our components look with basically 2 minutes of work.

One thing that'd be great is the ability to provide our app-level CSS, which for us is still injected by emotion, but in our top `index.tsx` file, i.e.:

[code]

The docs (which are great) have examples of adding root-/app-level `externalCss` from

[2022-06-11 07:31] nvh95 commented on #139
@stephenh Thank you for reaching us. Yes, of course, you can achieve your goal

Actually `externalCss` is deprecated and not recommended to use. I'm working on a PR #132, which gradually remove it . Please import the CSS directly. You can do it like this:
[code]

(I recommend turn on [Automatic Mode](https://www.jest-preview.com/blog/automatic-mode) on by default)

Yes, you can use this technique

[2022-06-11 17:27] #124 closed

[2022-06-11 17:32] stephenh commented on #139
@nvh95 huh, I guess that is obvious in retrospect :-), but yeah, we already use a custom render approach, we just historically have not included our `CssBaseline`/`CssReset` because they weren't required for anything that tests needed to assert against. But yeah, we can do that; thanks!

[2022-06-11 17:32] #139 closed

[2022-06-11 17:35] nvh95 commented on #139
@stephenh Since Jest Preview trying to make Jest tests as "e2e" as possible. So I guess you need to setup it as a "completed" app from now on 😬.
Please don't hesitate to ask if you need any support from us. You can reach us on Twitter as well: [@hung_dev](https://twitter.com/hung_dev) or [@JestPreview](https://twitter.com/JestPreview)

[2022-06-11 17:45] nvh95 commented on #139
@stephenh Also, I wonder if your project is open source. I want to see it as a reference to add [an example](https://github.com/nvh95/jest-preview/tree/main/examples) for [emotion](https://emotion.sh/).

If you want to contribute to Jest Preview by adding an example that uses emotion, please let me know. I can help to open a new issue to help you "claim" the feature. If you don't, it's absolutely

[2022-06-11 19:31] stephenh commented on #139
Hey @nvh95 ; our primary app is not open source, but our emotion-based component library Beam is open source, so like here's an example of one of our tests:

https://github.com/homebound-team/beam/blob/main/src/inputs/Checkbox.test.tsx

Not sure if that's more helpful vs. just going through the Emotion setup docs, but if it helps, that's great.

Our Beam component library also uses our emotion-bas

[2022-06-11 19:45] nvh95 commented on #139
@stephenh It's super helpful. I will take a look in the morning my time.
Thank you very much.

[2022-06-12 17:29] #80 closed

[2022-06-12 17:47] nvh95 commented on #71
We can import CSS Modules directly
[code]

Reference: #132

[2022-06-12 17:47] #71 closed

[2022-06-12 19:01] nunocasteleira commented on #117
Sorry, my company switched my computer, so now I can't reproduce the bug.

[2022-06-12 19:27] nvh95 commented on #117
@nunocasteleira So I am gonna leave this issue open for a few days. If by any chance you can reproduce. Let us know. Otherwise, we will close this. Thank you for reporting this.

[2022-06-13 19:37] hmerritt opened #144 "Support for linaria css-in-js"
**Is your feature request related to a problem? Please describe.**
I can't seem to get linaria styles working -> I'm guessing it needs a transform of some kind?

**Describe the solution you'd like**
Support (or even advice) to get [linaria](https://github.com/callstack/linaria) styles working.

**Describe how should jest-preview implement this feature**
Out-of-the-box support would be great -> or

[2022-06-14 00:41] nvh95 commented on #144
Hi @hmerritt. Thanks for reaching us.

Do you have any repo that already configured linaria (and Jest)? If yes, can you provide, it would extremely helpful for me to see how it works, since I have never used linaria. Thanks.

(I just read linaria docs and feel like we need to do some configuration to make it work with Jest Preview, instead of providing out-of-the-box support. But let's see.)

[2022-06-14 03:29] nvh95 commented on #117
I close this issue now. Please feel free if you can reproduce the bug. Thanks.
@all-contributors please add @nunocasteleira for bug

[2022-06-14 03:30] #117 closed

[2022-06-14 03:33] nvh95 commented on #74
- Implemented in #133
- First release support. `v0.2.5-alpha.0`

[2022-06-14 08:11] hmerritt commented on #144
Thanks for getting back to me so soon!

There isn't much setup required, just Babel + webpack loader

Repo is here:
https://github.com/hmerritt/cra

Webpack config for Linaria:
https://github.com/hmerritt/cra/blob/c1e950cc54457b6209dad586f79f5e877001d13f/config/webpack.config.js#L428

Babel:
https://github.com/hmerritt/cra/blob/c1e950cc54457b6209dad586f79f5e877001d13f/.babelrc#L4

[2022-06-14 08:29] nvh95 commented on #144
@hmerritt Thank you. Would you mind adding a couple of components styled by Linaria? Now I haven't seen any components styled by Linaria.

One small thing is that you should put `debug()` inside `test` block, not outside it.
<img width="1004" alt="Use Jest Preview" src="https://user-images.githubusercontent.com/8603085/173530778-ea2bb27a-9cd3-481e-8003-b5680f0f0b64.png">

I am actually looking at

[2022-06-14 08:37] nvh95 commented on #144
https://github.com/callstack/linaria/blob/master/CONTRIBUTING.md#debugging-and-deep-dive-into-babel-plugin

Just a note when digging

[2022-06-14 08:46] hmerritt commented on #144
Ah yeah, I just commented those together, I have it working locally (without linaria styles).

I'm relatively new to using/config babel + webpack myself - can we tell babel to different things during tests only?

I committed a file with some styles in it:
https://github.com/hmerritt/cra/blob/f8e5a3c9f09589aea565ee58cc219cf13c1c4d0e/src/pages/Home/index.tsx#L15

[2022-06-14 08:53] nvh95 commented on #144
Thank you @hmerritt. Let me spend more time on Linaria. I may contact Linaria maintainers directly to ask some questions if needed. I will let you know once I have more progress on this. But I cannot promise when it’s ready since I’m kind of busy in June 2022.

In the meantime, I believe that Jest Preview work well with other CSS strategies like pure CSS, SaaS, Styled components, emotion… For Lina

[2022-06-14 09:01] hmerritt commented on #144
Thank you @nvh95, appreciate it.

I think it will probably help debug Jest as-is too 😂.

If I find anything myself I'll let you know.

[2022-06-15 19:21] benoitgrasset-alma commented on #138
@nvh95 did you have time to investigate and test on linux ?

[2022-06-15 23:08] nvh95 commented on #138
Hi @benoitgrasset-alma. I haven’t had a chance to reproduce it yet. I will let you know as soon as possible when we find something. Thanks.

[2022-06-16 14:40] cainull opened #147 "Error occured when run script "npm i" in example of "create-react-app"❌"
**Describe the bug**
Error occured when run script "npm i" in example of "create-react-app"❌

**To Reproduce**
just CD into "examples\create-react-app" and run "npm i"┭┮﹏┭┮

**Expected behavior**
packages installed smoothly, then I can run the example.😄

**Screenshots**
![image](https://user-images.githubusercontent.com/45328460/174094568-da2fde9c-4e20-4ee1-8534-bb683666462a.png)

**Environment (p

[2022-06-17 05:34] nvh95 commented on #147
@cainull Oh man, likely this issue is related to your folder name containing non-ASCII characters. Let me try to reproduce it.
In the meantime, you can work around by running:
[code]

[2022-06-17 05:57] cainull commented on #147
Thanks for replied! I'm careless🤭, I try to move the project to other folder with full ASCII path, then it works.
but if containing non-ASCII characters, error still occured when I run `npm install --ignore-scripts` .
so, **the temporary solution** is clone the project to the full-ASCII characters path, then **yarn intsall**

[2022-06-17 06:01] nvh95 commented on #147
@cainull Oh, interesting. It’s definitely an issue with Jest Preview. I will try to reproduce on a Windows (unluckily I don’t have one with me right now). I tried on macOS but it works fine.
Can you copy the full path name? I will try with yours.
Please keep this issue open. After fixing it, can you help to verify it?

Thank you very much.

[2022-06-17 06:04] cainull commented on #147
it works when I run scripts npm install in the root path(./jest-preview), but when I cd into `exmaples/create-react-app` then run this scripts, it still won't work.

[2022-06-17 06:06] cainull commented on #147
![image](https://user-images.githubusercontent.com/45328460/174235605-af315d8f-1320-4d18-a745-9fc2c5b12f78.png)

[2022-06-17 06:06] cainull commented on #147
![image](https://user-images.githubusercontent.com/45328460/174235668-26490a68-3c63-4f0e-be2b-17c41a2106be.png)

[2022-06-17 06:08] cainull commented on #147
Oh, it's my present! I will verify it if bug fixed. 😄

[2022-06-17 09:28] #74 closed

[2022-06-17 09:41] nvh95 commented on #147
Hi @cainull. Can you try to verify if the issue is resolved after running:

[code]

Thanks.

[2022-06-17 09:45] cainull commented on #147
OK. I'll do it right now. 👍

[2022-06-18 02:24] nvh95 commented on #147
Thank you @cainull. Please let us know if the issue has been resolved.

[2022-06-18 02:44] cainull commented on #147
yeah. This problem has been solved😄.

[2022-06-18 02:46] cainull commented on #147
but I'm curious about its reason

[2022-06-18 08:25] nvh95 commented on #147
@cainull Thank you very much for your confirmation.

The issue is this line of code

[code]

Since in some cases, we need to clear the Jest cache to avoid  CSS and images getting cached by the old code transformers. So we have a `postinstall` script to automatically clear Jest cache after installing `jest-preview`. The script is written in bash. However, this script is not stable in some circumsta

[2022-06-18 08:41] nvh95 opened #150 "Support `vanilla-extract`"
**Is your feature request related to a problem? Please describe.**
[vanilla-extract](https://github.com/seek-oss/vanilla-extract) just got nominated in "The most exciting use of technology" category in Javascript Open Source Awards (similar to Jest Preview). It would be super cool to have Jest Preview support `vanilla-extract` out of the box

**Describe the solution you'd like**
Support out of the

[2022-06-19 17:09] nvh95 commented on #147
@cainull I'm closing this issue since it has been resolved. Feel free to keep discussing more if you want to know anything else.

[2022-06-19 17:09] #147 closed

[2022-06-19 17:09] nvh95 commented on #147
@all-contributors please add @cainull for bug

[2022-06-20 01:58] cainull commented on #147
Thanks for explanation! I would keep focus on this project. 😄

[2022-06-20 02:00] nvh95 commented on #147
@cainull Thank you. Share me your project if you integrate `jest-preview`. Let me know if you have any issues when doing it.

[2022-06-21 15:59] nvh95 commented on #39
To support [Scoped CSS](https://vuejs.org/api/sfc-css-features.html#scoped-css) in future PR.

[2022-06-23 04:58] nvh95 opened #155 "Use `vite` internally instead of handling live update with `websocket`, `chokidar`"
TODO: @nvh95 to elaborate

**Which feature you want to improve?**
A description to a feature you want to improve. A permanent link to the implementation is a good attachment.

**What and why you want to improve that feature**
Describe the reason why you want to improve that feature.

**Potential bugs/ unexpected behaviors**
A clear and concise description of what you expected to happen.

**How to

[2022-06-25 17:31] nvh95 opened #160 "Add `jquery` example"
**Describe the solution you'd like**
An example to use `jest-preview` to test app with `jquery`

**Describe how should jest-preview implements this feature**
- Use `@testing-library/dom` to test
- Use `jest-preview` to debug/ write new tests faster

**Additional context**
- `@testing-library/dom` can test any JS framework
- `jquery` update the JSDOM manually in the test environment. Anything run i

[2022-06-26 18:21] nvh95 opened #163 "Issue with `jest-preview/transforms/file` when use with `ts-jest` to process `.tsx` files"
**Describe the bug**
Cannot see images if we use `ts-jest` to process `.tsx` files
![broken image in Jest Preview Dashboard](https://user-images.githubusercontent.com/8603085/175828312-8150a387-8902-4cf6-9760-507d25bd75b3.png)

Demo video: https://youtu.be/rkgSxUaFfnY?t=502

**To Reproduce**
[code]

**Expected behavior**
Should see the image

**Additional context**

When inspecting the cache of Je

[2022-06-28 11:33] nvh95 opened #164 "Cannot process `scss` < `1.45.0`"
**Describe the bug**

If user use `sass` < `1.45.0`. CSS transform will throw error
![s.compile is not a function](https://user-images.githubusercontent.com/8603085/176167199-79894171-bb13-47f7-a7a8-f69d23a721c1.png)

The reason is that we are using `sass.compile`, which is introduced in version `1.45.0` ([Reference](https://sass-lang.com/documentation/js-api/modules#compile)).

**To Reproduce**

[2022-06-28 11:34] nvh95 commented on #164
cc: @ntt261298

[2022-06-28 11:59] nvh95 opened #166 "Cannot import `sass` from `node_modules` if it is not specified implicitly"
**Context**
A user cannot setup sass properly. See this discussion for more context (https://github.com/nvh95/jest-preview/discussions/153#discussioncomment-3038690)

**Describe the bug**
If users import something like this:

[code]

<img width="231" alt="sass folder inside node_modules" src="https://user-images.githubusercontent.com/8603085/176172303-87b2ac66-29b7-4e31-a853-bcdd5bac6f19.png">

CS

[2022-06-29 10:05] nvh95 commented on #34
Implemented in #148

[2022-06-29 10:05] #34 closed

[2022-06-29 10:06] nvh95 commented on #46
TODO:
- [ ] Add a button in the header to show **Feedback**. Clicking on it show a feedback modal.
- [ ] Add a feedback link in README

[2022-06-29 11:50] nvh95 opened #169 "Add Svelte example"
## What is the framework/ technology you want to integrate Jest Preview to?

 - Svelte

## Useful links
- https://svelte.dev/
- https://testing-library.com/docs/svelte-testing-library/intro/

## Do you want to add this example on your own?
- Need help

[2022-06-29 11:51] nvh95 opened #170 "Add Angular"
## What is the framework/ technology you want to integrate Jest Preview to?
Angular

## Useful links
- https://angular.io/
- https://testing-library.com/docs/angular-testing-library/intro

## Do you want to add this example on your own?
I need help.

[2022-06-29 16:29] skirianov opened #171 "Create a script to keep GitHub examples README in sync with website docs pages."
**Current state:** Website docs example page looks very empty and refers to GitHub examples README, thus keeping users to jump back and forth from Docs to GitHub.

**Suggestion:** Keep both pages in sync, so the user can decide where it's more comfortable for them to review examples documentation.

**Implementation:** Write a script to run, so we can populate both README and Web Docs pages.

[2022-06-29 16:29] skirianov commented on #171
I will take care of this 😉

[2022-07-01 09:47] nvh95 commented on #46
resolved in #173

[2022-07-01 09:47] #46 closed

[2022-07-01 10:06] nvh95 opened #174 "Add general `jest-preview config` CLI"
## Is your feature request related to a problem? Please describe.

Now, after installing `jest-preview`, users need to configure CSS and file transform (https://www.jest-preview.com/docs/getting-started/installation). It a great idea if we provide users a way to do it effortlessly.

## Describe the solution you'd like

A CLI which automatically configure to work with `jest-preview`: `jest-preview

[2022-07-02 16:04] nvh95 commented on #164
Fixed in #167

[2022-07-02 16:04] #164 closed

[2022-07-02 17:14] #163 closed

[2022-07-02 20:24] nvh95 commented on #169
Added in #177

[2022-07-02 20:24] #169 closed

[2022-07-03 04:15] nvh95 opened #180 "Support import SVG as a component"
## Is your feature request related to a problem? Please describe.
TODO: @nvh95 to elaborate

## Describe the solution you'd like

## Describe how should jest-preview implements this feature

## Describe alternatives you've considered

## Additional context

[2022-07-03 04:16] nvh95 opened #181 "Run cypress on documentation site periodically"
## Is your feature request related to a problem? Please describe.
Thanks to @huyenuet for her work in #154 and #159, we have some e2e tests to run on the documentation site www.jest-preview.com. However, we haven't set up it to run automatically in our workflow.

## Describe the solution you'd like
- Run it periodically (e.g: 1-2 times a day)

## Describe how should jest-preview implements this fe

[2022-07-03 09:33] nvh95 commented on #181
Reference this: https://github.com/filiphric/filiphric.com/blob/master/.github/workflows/cypress.yml

[2022-07-03 09:47] nvh95 opened #182 "Merge file and fileCRA transformation"
## Is your feature request related to a problem? Please describe.

In the past, we separate file and fileCRA into 2 different code transformations. The reason is that we would like to have the first-class support for CRA. The fileCRA is different from file is that it has support for SVG files. However, we realized it don't need to be 2 different ones.

## Describe the solution you'd like

- Merge

[2022-07-03 10:08] nvh95 opened #183 "Convert **jest-preview** to monorepo using **Nx**"
## Is your feature request related to a problem? Please describe.

- Sometimes forgot to build transforms before running test/ demo
- Avoid the leak implementation of PostCSS via `postcss.config.js` (parent traversal, see `website/postcss.config.js` and `examples/svelte/postcss.config.cjs` for more)
- Better structure code base
- Leverage local caching feature of nx
- Leverage cloud caching featur

[2022-07-07 14:09] ParamagicDev commented on #28
Hi there! I'm currently running Jest + Jest-Preview in WSL. I've tried using the `npm-run-all` approach, running the `jest-preview` server separately, and calling the manual `debug()` vs `jestPreviewConfigure({ autoPreview: true })` and none of the approaches seems to work. I imagine its probably something to do with WSL, but figured I'd report it here! I'll work on getting a reproduction in place

[2022-07-07 18:48] ParamagicDev commented on #28
@nvh95 The only current reproduction I have is my Shadow Dom Testing library here:

https://github.com/ParamagicDev/shadow-dom-testing-library

it should be just:

[code]

[2022-07-08 23:16] skirianov opened #191 "Update docs Introduction section"
## Which feature you want to improve?

Documentation Introduction section.

## What and why you want to improve that feature

It's quite short and doesn't really "buy" potential users.

Points to improve:
- Write better wording and explain the ideology of the project briefly.
- Try to fix the online playground to enable hot reload

## Potential bugs/ unexpected behaviors

N/A

## How to implement

[2022-07-09 00:18] skirianov commented on #191
@nvh95 as an additional suggestion is to remove **Features** section completely and add it to the **Introduction** section.

Will add as separate commit, so we can revert easily if you won't like it ;)

[2022-07-10 16:59] nvh95 commented on #191
@skirianov

Absolutely agree

I am not very sure at the moment. But I still like the idea of having a separate `Features` section. We can still mention the features in the Introduction. But if someone doesn't want to read the long text, they can just navigate to the `Features` page.

Similar docs that have Features pages:
- https://vitejs.dev/guide/features.html
- https://vitest.dev/guide/features

[2022-07-12 20:29] nvh95 commented on #191
@skirianov Wow. It looks incredible 💪💪🦾🦾. Indulge me with your draft PR 😹😹

[2022-07-14 18:12] nvh95 opened #197 "Support LESS"
## Is your feature request related to a problem? Please describe.

A user asks about [LESS](https://lesscss.org/) support. Let's do this!! 💪

## Describe the solution you'd like

Support LESS out of the box, similar to Sass.

## Describe how should jest-preview implements this feature

- Refer to Sass implementation.
- Learn how LESS works.
- Put the implementation here: https://github.com/nvh95/j

[2022-07-14 18:22] nvh95 commented on #197
Use `less.render`
Reference: https://lesscss.org/usage/#programmatic-usage

[2022-07-15 10:08] nvh95 commented on #182
Implemented in #193

[2022-07-15 10:08] #182 closed

[2022-07-15 10:56] #181 closed

[2022-07-16 04:51] nvh95 commented on #138
The possible root cause is explained here.
https://github.com/nvh95/jest-preview/pull/199#issuecomment-1186088862

[2022-07-16 09:15] nvh95 commented on #28
@ParamagicDev Can you please update `jest-preview` to the newest version (`>= 0.2.8`) then try again. We fix that issue in https://github.com/nvh95/jest-preview/pull/200.
Thanks.

[2022-07-16 09:19] nvh95 commented on #138
@benoitgrasset-alma Hi Benoit. We investigate and fix this issue on Linux in #200. Can you help to update `jest-preview` to version `>= 0.2.8` and then let us know if this issue is resolved on your Linux machine?

Thank you very much.

[2022-07-16 10:07] nvh95 commented on #126
@srosato Hey Steven. We are able to reproduce your issue and we fix it in `jest-preview` `0.2.8`. Can you update `jest-preview` to newest version and let us know if the issue has been resolved?

Tips: Your PR #125 is merged. You can verify by your example also.

**More context:**
This is an issue on Linux, similar issue #138
PR fix this issue: #200

[2022-07-16 10:14] nvh95 commented on #126
Do you experience any bugs (other than the automatic refresh) with Jest Preview always using `[project_root]/node_modules/.cache/jest-preview` as the cache directory? I am happy to have you contribute, I just want to know what problems it will solve after the changes. Thanks.

[2022-07-16 10:18] nvh95 commented on #111
If a user uses `jit`, then they have `debug()` in the middle of the test callback, which would make them confused.
I think for now just let them import `debug` manually. We can add this in the future if we feel it is needed.

[2022-07-16 10:18] #111 closed

[2022-07-17 18:56] nvh95 opened #203 "Convert Javascript to Typescript"
## Which feature you want to improve?

Convert implementation in Javascript to Typescript to:
- Better type checking
- Convert repository to be classified as Typescript project

## What and why you want to improve that feature

- [ ] `cli`
- [x] `docs-e2e-testing`
- [ ] `setupTests.js` in ts projects

[2022-07-17 18:58] nvh95 opened #204 "Add assets"
## Is your feature request related to a problem? Please describe.

Add assets like official logo to `media` folder

[2022-07-18 09:42] benoitgrasset-alma commented on #138
Hi @nvh95, good job it solved the issue ! I just had to add `postcss-modules": "^4.3.1` to _package.json_

[2022-07-18 10:01] nvh95 commented on #138
Thank you @benoitgrasset-alma for reporting it
@all-contributors pmease add @benoitgrasset-alma for bug

[2022-07-18 10:02] #138 closed

[2022-07-18 13:34] #191 closed

[2022-07-18 13:37] skirianov opened #207 "Remove unused Why Jest Preview link from docs"
## Describe the bug

After 191 issue merged there's a broken link in Introduction section

## Expected behavior

Should not be visible

[2022-07-18 15:54] #207 closed

[2022-07-19 14:48] #204 closed

[2022-07-29 16:39] narutosstudent commented on #203
@nvh95 yooo 👋

cool project, sad i didnt hear about this from the very beginning, wish i could've hacked on it a ton haha 😆

can i help here? can i take over something?

[2022-07-29 16:43] narutosstudent commented on #134
@nvh95 seems like a good story to begin with mhm

[2022-07-29 16:43] narutosstudent commented on #62
indeed sounds very interesting

[2022-08-01 18:18] nvh95 commented on #126
@all-contributors please add @srosato for bug

[2022-08-03 11:02] nvh95 commented on #131
- Why I Switched From NPM/Yarn to PNPM And Why You Should Too!: https://youtu.be/d1E31WPR70g

[2022-08-03 16:37] vudjustin opened #224 "Can't get Sass/CSS Modules to load with components"
## Describe the bug
Hey there! I’m trying to get `jest-preview` to work with my codebase but I’m having some trouble. I can get the HTML for my React component to render but when I try to get the styles working I get some errors. I'm using Sass and CSS modules.
[code]

## Reproduce

I’ve added the transforms the docs suggested to my `jest.config.js` since my file already had an existing transform:

[2022-08-03 16:39] nvh95 commented on #224
Hi @vudjustin. Can you help to prepare a reproduction repository on GitHub/ https://codesandbox.io or https://stackblitz.com? That would help us to identify the issue faster. Thanks.

[2022-08-03 17:57] nvh95 commented on #131
Implemented in #225

[2022-08-03 17:57] #131 closed

[2022-08-03 17:59] nvh95 opened #226 "ROADMAP 01"
@nvh95 to add details

**0.3.x**

**0.4.x**

**0.5.x**

**0.6.x**

[2022-08-06 23:22] LayZeeDK commented on #170
@nvh95 @ntt261298
Here's an example using Angular CLI with Jest via [@angular-builders/jest](https://www.npmjs.com/package/@angular-builders/jest):
https://github.com/LayZeeDK/nvh95-jest-preview/tree/LayZeeDK/docs/add-angular-example/examples/angular

I just read the raw global CSS stylesheet and append it to the document. I don't know how we would add Sass support although it is supported by Angu

[2022-08-08 03:51] #160 closed

[2022-08-08 04:00] #171 closed

[2022-08-10 09:13] SpadarShut opened #230 "Tailwind CSS doesn't get compiled in @import'ed files"
## Describe the bug

TailwindCSS doesn't get compiled if it's inside files that are imported.

In main css file:

[code]

in imported files:

[code]

## Reproduce
https://github.com/SpadarShut/jest-preview-import-tw-issue

## Expected behavior

CSS should be compiled

## Environment (please complete the following information)

- OS: macOS 12.2.1
- Browser: chrome
- Jest version: 27.5.1

[2022-08-12 16:27] nvh95 commented on #230
Hi @SpadarShut. Thank you for your report on this issue. I confirmed this is a bug from `jest-preview`. We will let you know when we release a fix for it.
For now, you can workaround by importing CSS files that have tailwind syntax directly to `setupTests.js` (`setupFilesAfterEnv` in `jest.config.js`)
[code]

[2022-08-12 16:45] SpadarShut commented on #230
Thanks! I worked around it in the same way.

[2022-08-12 16:50] SpadarShut commented on #230
While we are at it, can you tell if this is a bug or not: when i change values in a select, the preview does not reflect it, though elements dependent on that value are rendered correctly.

[2022-08-12 16:54] nvh95 commented on #230
@SpadarShut I encountered this issue recently and I think this is related to `@testing-library/dom` interacting with `jsdom`. I am not sure if `jest-preview` could do anything to correct this behavior. I will let you know in the future if I have more insights/ ideas. For now, please think of it as a caveat. Thanks.

[2022-08-12 16:57] SpadarShut commented on #230
Thanks! I used testing library as well.

[2022-08-14 05:25] #224 closed

[2022-08-15 04:09] dannyvassallo opened #235 "@media doesn't seem to compile with css / scss modules + more"
## The Problem

I'm using jest-preview to visualize screens using css modules. Some of the styling is dependent on media queries. None of the `@media` statements seem to get compiled into the embedded style tags. Other classes from the module make it in fine.

I also cannot import SCSS files into the setup file. If I compile them using gulp or webpack and then import the resulting `.css` file, it

[2022-08-16 16:49] nvh95 opened #237 "Support `styleUrls` and `styles` for Angular"
## Is your feature request related to a problem? Please describe.

@LayZeeDK opened a fantastic PR #227 to add an example of integrating `jest-preview` with **Angular**. However, `jest-preview` cannot process styles defined in `styleUrls` and `styles`. The situation is very similar to [Vue Scoped CSS](https://vuejs.org/api/sfc-css-features.html) (see https://github.com/nvh95/jest-preview/pull/42#i

[2022-08-16 17:11] nvh95 commented on #28
We tested the core function of `jest-preview` on
- [x] Mac (development machine)
- [x] Ubuntu
- [x] Windows

We also have CI to run on Ubuntu and Windows (GitHub Actions)

We also run it in some monorepo.

[2022-08-16 17:11] #28 closed

[2022-08-16 17:12] nvh95 commented on #16
TODO
- [ ] To run all tests in `examples` folder
- [ ] Can we leverage it

[2022-08-16 20:04] #170 closed

[2022-08-18 04:50] nvh95 opened #240 "Support PostCSS"
## Is your feature request related to a problem? Please describe.

Now, `jest-preview` is currently supporting TailwindCSS (https://github.com/nvh95/jest-preview/issues/100). It does use `postcss` but only for tailwindcss
 https://github.com/nvh95/jest-preview/blob/b0b598d2fac6d491070bc17820ea46ad128918c9/src/transform.ts#L251-L261

By supporting PostCSS natively, it can solve a number of issues
-

[2022-08-18 04:59] nvh95 commented on #183
**TODO for @nvh95**
Add other packages:
- `jest-preview-css` or `@jest-preview/css`
- `jest-preview-file` or `@jest-preview/file`

They will be dependencies of `jest-preview`.

Reason: Keep `jest-preview` more focused on actually PREVIEWING functionality.

We can also consider adding a dedicated package `test-preview-server` (TODO: Think a better name) to support other frameworks than Jest in the

[2022-08-20 16:18] nvh95 commented on #51
My hypothesis: If we do not explicitly implement `getCacheKey`. It will use `src` and `filename` as cache key.

So, we should add transformer file content into account. So each time we upgrade the transformer. The Jest cache get cleared.

[2022-08-22 02:20] nvh95 opened #247 "Add a flag to disable CSS transformation in CI environment"
## Is your feature request related to a problem? Please describe.

CSS Transform takes time. Especially after #241, processing a CSS file with PostCSS config would take 0.3 seconds on Mac M1. Those results are cached in local by default. But in CI, it's likely not to be cached, which leads to CI run longer

## Describe the solution you'd like

- Provide a way for users to toggle on/off processing

[2022-08-22 16:19] nvh95 commented on #235
Can you provide [minimum reproduction](https://antfu.me/posts/why-reproductions-are-required). I added a commit to include `@media` query and it works fine. Please refer to this commit:
https://github.com/nvh95/jest-preview/commit/0e8a8273146a993b300500e30b2c5fc7e157bbd3#diff-650149a55a5b9fea04fefedba299bd2bf341e1a1c8b4d6e63e483e95669efbfcR4-R9

Please help to prepare a reproduction. In our demo,

[2022-08-22 16:28] nvh95 commented on #230
Hey @SpadarShut. I fixed this issue and released version`0.3.1-alpha.0`. Please try it again and let me know if it resolves your problem.

I will include this fix in `0.3.1` in a couple of days.

[2022-08-22 16:28] nvh95 commented on #230
@all-contributors please add @SpadarShut for bug

[2022-08-22 16:35] nvh95 commented on #240
Implemented in #241

[2022-08-22 16:35] #240 closed

[2022-08-23 10:05] nvh95 opened #252 "[CSS REWRITE] [BIG UPDATE] Change how to process CSS"
## What is it?

### Current approach to process CSS
- Currently, we use Jest Code Transformer to transform CSS. Except Pure CSS, we transform different CSS languages such as Sass, CSS Modules, TailwindCSS, PostCSS... then embed them directly the **output CSS** to the `document.head` of `jsdom`. "Jest Preview server" will serve `jsdom` as real DOM, so we can see the CSS on the "Jest Preview Dashboa

[2022-08-23 10:31] nvh95 commented on #252
Hey @ntt261298, please see my note above on a new approach to handle CSS. It would be great if you can give some of your thoughts. Thanks.

[2022-08-23 10:46] nvh95 commented on #247
This is possibly not needed if we implement #252

[2022-08-23 16:25] ntt261298 commented on #252
I think this approach is really promising. (Reduce the test running time, Be able to handle async tasks so we can scale easier in the future,…)
I still have some thoughts about this approach:
  - The time for the browser to fully load the CSS of the preview might be longer than current (But I think reducing the test running time is more important).
  - We might still need to transform CSS module i

[2022-08-25 02:10] nvh95 commented on #84
To achieve this, we need to
- Hydrate the markup
- Inject the script

One useful resource:
https://github.com/jsdom/jsdom#executing-scripts

[2022-08-27 16:00] nvh95 opened #254 "Cannot process CSS modules in CRA"
## Describe the bug

`jest-preview` couldn't process CSS Modules if users are using Create React App

## Screenshots

![image](https://user-images.githubusercontent.com/8603085/187037997-ffe04667-1875-47ec-a7ab-862d7333173a.png)

## Reproduce

Just init a CRA app and use CSS Modules

## Root cause and solutions

Since `jest-preview` use `postcss-modules` to process CSS Modules, on the other hand,

[2022-08-31 01:43] TheJaredWilcurt opened #256 "Work with @vue/test-utils instead of @testing-library/vue"
## Is your feature request related to a problem? Please describe.

I didn't think it would really matter which tool I use, and was willing to use a new API/library, and if it means I get to preview Jest tests in a browser, then it would be worth it.

I tried `@testing-library/vue` but it couldn't do half of the things I need, the documentation is terrible, and it seems to enforce a bunch of very s

[2022-08-31 09:36] nvh95 commented on #256
Hi @TheJaredWilcurt. Thanks for reporting this issue.

`jest-preview` can work on any framework based on `jsdom`, so it doesn't matter if it's `@vue/test-utils` or `@testing-library/vue`. The example [here](https://github.com/nvh95/jest-preview/tree/main/examples/vue) uses `@testing-library/vue` just for demonstration purpose.

Did you try to integrate `jest-preview` with `@vue/test-utils`? If yes

[2022-09-02 06:06] #230 closed

[2022-09-02 18:25] TheJaredWilcurt commented on #256
Yes, after doing the dev.to setup I linked, I swapped `@testing-library/vue` out for `@vue/test-utils`. And changed from `render` to `shallowMount` (or `mount`, tried both).

Then added `expect(2).toEqual(3)` to for a test to fail (this worked before to show the component in the browser, in the same test). But it doesn't work, the browser refreshes, but the `<body>` is empty (except for the same `

[2022-09-02 19:31] TheJaredWilcurt commented on #256
Here I made a reproduction:

* https://github.com/nvh95/jest-preview/pull/257/files#r961953543

It works with Testing Library, but not Vue Test Utils

If you can figure out how to make it work with Vue Test Utils, then that PR could be changed to `npm uninstall @testing-library/vue` and remove it from the import in that testing file. Then it would be read to be merged, retaining the testing-librar

[2022-09-06 22:27] davidhao3300 opened #258 "Don't use hard-coded localhost for websocket"
## Describe the bug

localhost is hard-coded here: https://github.com/nvh95/jest-preview/blob/v0.3.1/cli/server/ws-client.js#L4

This makes remote development a little more finicky. I'm running jest-preview in a remote server, and want to use my laptop's browser to visit the jest preview dashboard. Right now the dashboard loads fine, but since the websocket client tries to hit localhost, the auto-

[2022-09-07 10:55] nvh95 commented on #258
Hi @davidhao3300

Thanks for your report. I published version `v0.3.2-alpha.0` to fix this. Can you try again with that version? I will incorporate a few other updates and release them all at once soon.

[code]

For now the PORT for `jest-preview` is `3336` and the port for socket connection is `PORT+1` (e.g: `3337`). Users can customize it my specify a custom port (e.g: `PORT=3761 npm run jest-pr

[2022-09-07 18:03] davidhao3300 commented on #258
I will give the new version a try today, thank you. The diff does look good to me!

[2022-09-07 18:05] nvh95 commented on #258
@davidhao3300 Thanks. I am looking forward to your confirmation.

[2022-09-07 21:36] davidhao3300 commented on #258
Looks good to me, thank you!

[2022-09-07 21:47] davidhao3300 opened #260 "Importing @tailwindcss/utilities in CSS file causes ENOBUFS error"
## Describe the bug

Hello, me again.

The CSS transformer errors out with ENOBUFS with the following CSS file contents:

[code]

We use tailwindcss 1.9.6 if that helps, my suspicion is that it's just a large CSS file or something.

The full error:

[code]

Corresponds to https://github.com/nvh95/jest-preview/blob/main/src/transform.ts#L356

I changed the erroring line to
`const result = child_pro

[2022-09-08 15:33] #258 closed

[2022-09-08 15:35] nvh95 commented on #260
Hi @davidhao3300

Thanks for reporting this. Can you help to prepare a reproduction? It's hard for me to fix this without properly reproducing this. Thanks.

[2022-09-08 15:37] nvh95 commented on #252
[Just a note] This can fix #260

[2022-09-08 20:02] davidhao3300 commented on #260
I'm not a frontend expert, so this is my guess to a repro:
- Have tailwindcss@1.9.6 installed
- Have a single css file with `@import 'tailwindcss/utilities';` as the contents
- include the CSS file and have it transformed by the jest-preview CSS transformer

[2022-09-15 19:54] dannyvassallo commented on #235
It looks like you are correct! I do think I might have an idea of what's happening. I think the class name property on the component changes based on the media or screen size and it doesnt seem to be updating properly. Regardless of the window or screen size I stub in jest, it falls back to either default or the mobile values. Maybe it's something with the way I'm handling my renders?

[2022-09-16 12:19] Rohitbels opened #263 "For a CRA app after following the instructions I got "sass not found. please install sass and try again.""
For a CRA app after following the instructions I got "sass not found. please install sass and try again."

Once I installed sass additionally it worked.
But why was this required.

## Environment (please complete the following information)
- Jest version: [e.g. 26.6.0]

[2022-09-17 02:55] ntt261298 commented on #263
Hi @Rohitbels

Thanks for reporting this. `jest-preview` doesn't require `sass` to work if your project doesn't contain `.scss` or `.sass` files. Does your project use sass? If not, can you check if you unintentionally import `.scss`, `.sass` file in the `jest-preview` [global CSS](https://www.jest-preview.com/docs/getting-started/installation/#4-optional-configure-global-css) . Also, it would be

[2022-09-21 09:50] nvh95 commented on #103
@Rohitbels Thanks for your support. Anything not conflict with prettier is fine. I am looking forward to see your PR 🤩

[2022-09-21 16:29] nvh95 commented on #103
Thank you @Rohitbels. I am converting this project into pnpm workspace, the progress is tracked in #255

I am not available to finish it yet. But aiming for the next few weeks.

For the current folder which have its own `package.json`. We might not need eslint for them (?). Since it's kind of "external" ones. For example, `websites` has nothing to do with `jest-preview`.

I think you can try to ju

[2022-09-28 12:55] Rohitbels commented on #263
Hey Sorry the issue was on our end.
Closing

[2022-09-28 12:55] #263 closed

[2022-09-30 11:41] micke232 opened #266 "No console.log or debugger"
Is there a reason why console.log or debugger does not work in preview mode?

Would be very helpful if this is possible.

[2022-10-21 04:22] Rohitbels commented on #266
@nvh95 Can this be done by writing a wrapper around the console.log.
The wrapper can catch the logs that can be logged in browser console

[2022-10-25 01:31] KieraDOG opened #269 "Having dependabot alerts: Got allows a redirect to a UNIX socket"
## Describe the bug

Hi team, we are having this dependabot alert of dependency from jest-preview.

The latest possible version that can be installed is 9.6.0 because of the following conflicting dependency:

[code]

The earliest fixed version is 11.8.5.

## Screenshots

## Reproduce

Please provide a minimal [reproduction](https://stackoverflow.com/help/minimal-reproducible-example) for the issue

[2022-10-28 17:29] #269 closed

[2022-11-17 08:34] nvh95 opened #276 "Cannot bundle `update-notifier@6` (ESM only) to CommonJS using RollupJS"
## Context
- User requests to upgrade `update-notifier` to the latest version (^6) to resolve a dependabot alert #269
- However, `update-notifier` is ESM only, and it does not play well when bundling as CommonJS

## Screenshots

TBU

## Reproduce
- [0.3.2-alpha.1](https://www.npmjs.com/package/jest-preview/v/0.3.2-alpha.1)

## Possible solutions
- (tried) exclude `update-notifier` from `external`